header {
  text-align: center;
  background-color: #E1B2A8;
  margin-bottom: 20px;
  padding: 10px;
}

a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-variation-settings: "wght" 100;
  transition: font-variation-settings 1s ease-out;
  &:hover {
    font-variation-settings: "wght" 1000;
  }
}

.active {
  color: #666;
  text-decoration: underline;
}