<div class="photo-post-card" [ngClass]="{liked : userHasLiked}">
    @if (mode=='detail') {
        <app-back-button/>
    }
    <h1>{{ photoPost.title | titlecase }}</h1>
    @if (photoPost.location) {
        <p>Localisation : {{ photoPost.location }}</p>
    }
    <img [src]="photoPost.imageUrl" [alt]="photoPost.title" />
    <p>{{ photoPost.description }}</p>
    <p>Créé le : {{ photoPost.createdAt | date : 'd MMMM yyyy, à HH:mm' }}</p>    
    <p>
        <button (click)="onLikeButtonClick()">
            <span [ngStyle]="{ color : 'rgb( 0 ,' + photoPost.likes + ', 0)'}">{{ likeButtonText }} {{ photoPost.likes }}</span>
    </button>
    </p>
</div>