.photo-grid {
    width: 100%;
    display: grid;
     grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.photo-grid {
    width: 1/3;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}